@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4116aba114.js" crossorigin="anonymous"></script>
</head>




<body>

    <header>
        <div class="container">

            <div class="undermenu">

                <nav class="navOne">


                    <a class="iconklass" asp-area="" asp-controller="Home" asp-action="Index"><img src="/SiliconWebSite/home/IconHome/LogoSilicon.svg" alt="Icon"> Silicon</a>
                    <a class="yes" href="#">Overview</a>
                    <a class="yes" href="#">Features</a>

                    <a class="yes" href="#">contacts</a>
                    @if (signInManager.IsSignedIn(User))
                    {

                        <a class="yes" asp-area="" asp-controller="AppUser" asp-action="EditUser">Edit User</a>

                        <a class="yes" asp-area="" asp-controller="Course" asp-action="Index">Course</a>

                        <a class="yes" asp-area="" asp-controller="Course" asp-action="GetOrderList">Saved Course</a>
                    }
                </nav>




                @if (signInManager.IsSignedIn(User))

                {


                    <nav class="navTwo">
                        <div class="button-container">

							<label class="switch">
								<input type="checkbox" id="toggle">
								<span class="slider"></span>
							</label>

                            <a class="button plus" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>

                            <a class="button plustwo" asp-area="" asp-controller="AppUser" asp-action="EditUser"><i class="fa-regular fa-user"></i>@User?.Identity?.Name</a>

                           

                        </div>




                    </nav>




                }
                else

                {
                <nav class="navTwo">
                    <div class="button-container">


                            <label class="switch">
                                <input type="checkbox" id="toggle">
                                <span class="slider"></span>
                            </label>

                            <a class="button plus" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i>Sign in</a>

                            <a class="button plustwo" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-regular fa-user"></i>Sign Up</a>



                    </div>




                </nav>
                }


            </div>



        </div>
    </header>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Net.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

        @if(ViewBag.ShowSubscriptionForm == true)
        {
            
                <div class="container">




                    <form method="post" asp-controller="Subscription" asp-action="SendSubscription">


                        <div class="mb-3">

                            <label class="form-label">Email</label>
                            <input type="text" id="Email" name="Email" class="form-control" />

                        </div>
                        <div class="mb-3">

                            <button type="submit" class="btn btn-dark">Subscription</button>

                        </div>


                    </form>


                </div>

            



        }


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

   
</body>
</html>
