.undermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.undermenu .navOne .iconklass {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.undermenu .navOne img {
  height: 40px;
}
.undermenu .navOne .yes {
  position: relative;
  left: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.undermenu .navTwo .button-container {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
.undermenu .navTwo .button-container .button.plustwo {
  background-color: #6366F1;
}
.undermenu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
}
.undermenu nav a:hover {
  text-decoration: underline;
}
