html {
  display: flex;
  justify-content: center;
  background-color: white;
}
html input {
  border: 1px solid #cccccc;
}

.button {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: gray;
}

.Sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  text-align: center;
}
.Sign .text-container {
  display: flex;
  flex-direction: column;
}
.Sign .text-container h1 {
  position: relative;
  top: 30px;
  right: 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 40px;
}
.Sign .text-container .accountBox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Sign .text-container .accountBox .test {
  position: relative;
  top: 15px;
}
.Sign .searchbox {
  display: flex;
  flex-direction: column;
}
.Sign .searchbox .searchingbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.Sign .searchbox .searchingbox .Termscheck {
  display: flex;
  justify-content: flex-start;
}
.Sign .searchbox .searchingbox .button {
  width: 107%;
  background-color: #6366F1;
  color: white;
}
.Sign .searchbox .searchingbox .namebox {
  display: flex;
  justify-content: space-around;
}
.Sign .searchbox .searchingbox .namebox .tva {
  position: relative;
  left: 20px;
}
.Sign .searchbox .searchingbox .textin p {
  display: flex;
  justify-self: flex-end;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.Sign .searchbox .searchingbox .textin .ptwo {
  position: relative;
  left: 20px;
}
.Sign .searchbox .searchingbox .textin input {
  padding: 10px;
  border-radius: 5px;
}
.Sign .searchbox .searchingbox .textin .inin {
  width: 100%;
}
