html, body {
    background-color: white;
    font-family: "Manrope",sans-serif;


    input {
        border: 1px solid #cccccc;
    }
}

.undermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;


    .navTwo {













        .button-container {
            display: flex;
            justify-content: space-between;
            gap: 0px;

            .button {

                &.plustwo {
                    background-color: #6366F1;
                }
            }
        }
    }


    nav {

        a {
            color: #191919;
            text-decoration: none;
            margin-right: 35px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.button {
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #6366F1;
    transition: filter 0.3s;
    color: white;


    &:hover {
        filter: brightness(70%);
    }
}


.register {


    a {
        text-decoration: none;
        color: #6366F1;
    }
}





.Sign {
    display: flex;
    justify-content: center; // Centrerar innehållet horisontellt
    align-items: center; // Centrerar innehållet vertikalt
    height: 100vh; // Sätter höjden på sektionen till 100% av viewport-höjden
    text-align: center;
    background-color: white;

    .text-container {
        display: flex;
        flex-direction: column;

        h1 {
            display: flex;
            justify-content: flex-start;
        }
    }

    .accountBox {
        display: flex;
        justify-content: flex-start;

        p {
            position: relative;
            bottom: 15px;
            right: 5px;
        }


        a {
            text-decoration: none;
            color: #6366F1;
        }
    }


    .searchbox {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: flex-start;
        border: solid black;

        .searchingbox {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: solid black;

            .Termscheck {
                display: flex;
                justify-content: flex-start;
                border: solid black;
            }

            .button-container {
                border: solid black;
                left: 25px;




                .button {
                    width: 512px;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }



            .textin {


                input {
                    width: 500px;
                    height: 25px;
                    border-radius: 10px;
                    padding: 5px;
                }

                p {
                    display: flex;
                    justify-content: flex-start;
                    border: solid black;
                }
            }
        }
    }
}
