@model Net.UI.Models.DTO.CourseDto
@{
}


<h1 class="mt-3">Course information</h1>

@if(Model is not null )
{
    <form method="post">

        <div class="mb-3">


            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="Title" asp-for="Title" readonly/>


        </div>

        <div class="mb-3">


            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="Description" asp-for="Description" readonly />


        </div>
        <div class="mb-3">


            <label class="form-label">Duration</label>
            <input type="text" class="form-control" id="Duration" asp-for="Duration" readonly />


        </div>

        </form>


}