@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/Home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4116aba114.js" crossorigin="anonymous"></script>
</head>




<body>

    


    <section class="Features">

        <div class="container">

            <div class="image-container">

                <img src="~/imgHome/image.png" alt="Beskrivande text">


            </div>


            <div class="text-container">

                <h1>Task Managment Assistan You Gonna Love</h1>

                <p class="pone">
                    We offer you a new generation of task management system.
                    Plan, manage & track all your tasks in one flexible tool
                </p>

                <div class="btn-header">

                    <a class="button" href="#">Get Started here</a>

                </div>



                <div class="under-text">

                    <p>Largest companies use our tool to work efficiently</p>

                    <div class="logotypes">
                    </div>

                </div>




            </div>





        </div>

    </section>


    <section class="Middle">

        <div class="container">

            <div class="text-container">

                <h1>What do you get with our tool?</h1>

                <p>
                    Make sure all your tasks are organized so you can set the priorities and focus
                    on important
                </p>



            </div>


            <div class="boxreklam">

                <div class="box">

                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>

                    <h1>Comment on Tasks</h1>
                    <p>
                        Id mollis consectetur congue egestas egestas
                        suspendisse blandit justo
                    </p>

                </div>


                <div class="box">

                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <h1>Tasks Analytics</h1>
                    <p>
                        Non imperdiet facilisis nulla tellus Morbi
                        scelerisque eget adipiscing vulputate
                    </p>

                </div>


                <div class="box">

                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <h1>Multiple Assignees</h1>
                    <p>
                        A elementum, imperdiet enim, pretium etiam
                        facilisi in aenean quam mauris.
                    </p>

                </div>

                <div class="box">

                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <h1>Notifications</h1>
                    <p>
                        Diam, suspendisse velit cras ac. Lobortis diam
                        volutpat, eget pellentesque viverra.
                    </p>

                </div>




                <div class="box">

                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <h1>Sections & Subtasks</h1>
                    <p>
                        Mi feugiat hac id in. Sit elit placerat lacus nibh
                        lorem ridiculus lectus
                    </p>

                </div>


                <div class="box">
                    <div class="svgone-container">

                        <img src="IconHome/pratbubbla.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <h1>Data Security</h1>
                    <p>
                        Aliquam malesuada neque eget elit nulla
                        vestibulum nunc cras.
                    </p>

                </div>



            </div>









        </div>

    </section>

    <section class="slider">
        <div class="container">
            <div class="vit">
                <div class="svart">




                    <div class="image-container">

                        <div class="text-container">
                            <h1 class="textwhite">Switch Between</h1> <h1 class="textblack">Light & Dark Mode</h1>


                        </div>
                        <img src="imgHome/mockup.png" alt="Beskrivande text för tillgänglighet">




                    </div>


                </div>
            </div>
        </div>

    </section>

    <section class="Content">
        <div class="container">


            <div class="image-container">

                <img src="imgHome/imageTwo.png" alt="Beskrivande text för tillgänglighet">

            </div>


            <div class="text-container">
                <h1>Manage Your Work</h1>

                <div class="pcontainer">
                    <p>asfladkfdsfsd</p>

                </div>
                <div class="pcontainer">
                    <p>asfladkfdsfsd</p>

                </div><div class="pcontainer">
                    <p>asfladkfdsfsd</p>

                </div><div class="pcontainer">
                    <p>asfladkfdsfsd</p>

                </div><div class="pcontainer">
                    <p>asfladkfdsfsd</p>

                </div>

                <div class="button-container">

                    <a class="button" href="#">Learn More</a>
                </div>

            </div>














        </div>

    </section>

    <section class="Apps">
        <div class="container">



            <div class="image-container">



                <img src="imgHome/imageMobiler.png" alt="Beskrivande text för tillgänglighet">


            </div>


            <div class="text-container">

                <h1>Download Our App For Any Devices:</h1>


                <div class="smalltext">
                </div>

                <div class="smalltext">
                </div>



            </div>









        </div>

    </section>


    <section class="Tools">
        <div class="container">

            <div class="text-container">

                <h1>Integrate Top Work Tools</h1>

                <p>balbladfsldkflsdklskg</p>


            </div>

            <div class="BoxarIkon">

                <div class="ikonboxar">

                    <div class="svgone-container">

                        <img src="IconHome/Google.svg" alt="Beskrivande text för tillgänglighet">
                    </div>

                    <p>text8</p>
                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/Zoom.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text7</p>
                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/Slack.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text6</p>
                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/Gmail.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text5</p>
                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/Trello.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text4</p>
                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/MailSchimp.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text3</p>

                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/Bluebox.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>text2</p>

                </div>

                <div class="ikonboxar">
                    <div class="svgone-container">

                        <img src="IconHome/GreenElefant.svg" alt="Beskrivande text för tillgänglighet">
                    </div>
                    <p>Text1</p>

                </div>


            </div>










        </div>


    </section>

    <section class="Inputbox">
        <div class="container">




            <div class="text-container">

                <h1>Dont want to miss Anything</h1>

            </div>






            <div class="check-boxes">


                <div class="text">

                    <h3>Sing upp for Newsletter</h3>

                </div>


                <div class="checkcheck">


                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>
                    </div>
                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>

                    </div>






                </div>


                <div class="checkcheck">


                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>
                    </div>
                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>

                    </div>






                </div>

                <div class="checkcheck">


                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>
                    </div>
                    <div class="checkOne">
                        <input type="checkbox" class="checkbox1">
                        <label for="checkbox1">Option 1</label>

                    </div>






                </div>












            </div>




            <div class="searchbox">



                <form class="searchingbox">


                    <input type="text" placeholder="Your email">


                </form>


                <div class="button-container"><a class="button" href="#">Subscribe</a> </div>

            </div>


            <div class="Termscheck">
                <input type="checkbox" class="checkbox1">
                <label for="checkbox1">Terms</label>
            </div>





        </div>









    </section>












    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>